body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#buttons {
    margin: 20px;
}


.filter-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 5px;
}

.filter-button.active {
    background-color: #007bff;
    color: white;
}

#bothButton.active {
    background-color: #28a745;
    color: white;
}

svg {
    display: block;
    margin: auto;
}